<div class="mis-turnos-container">
  <h2>Mis Turnos</h2>

  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Nombre</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of turnos">
        <td>{{ t.fecha | date: 'shortDate' }}</td>
        <td>{{ t.fecha | date: 'shortTime' }}</td>

        <!-- Mostrar nombre según si es paciente o especialista -->
        <td>
          <ng-container *ngIf="usuario?.categoria === 'paciente'">
            {{ t.especialista?.nombre }} {{ t.especialista?.apellido }}
          </ng-container>
          <ng-container *ngIf="usuario?.categoria === 'especialista'">
            {{ t.paciente?.nombre }} {{ t.paciente?.apellido }}
          </ng-container>
        </td>

        <td>{{ t.estado }}</td>
      </tr>
    </tbody>
  </table>
</div>
