<div class="disponibilidad-container">
  <h2>Configurar Disponibilidad Horaria</h2>

  <form (ngSubmit)="guardarDisponibilidad()">
    <div class="dia-row" *ngFor="let dia of disponibilidadEditable;let i = index">
      <label>{{ dia.dia }}</label>
      
      <select [(ngModel)]="dia.hora_inicio" name="hora_inicio_{{ i }}">
        <option value="">Desde</option> 
        <option *ngFor="let hora of horariosPorDia[dia.dia]" [value]="hora">{{ hora }}</option>
      </select>

      <select [(ngModel)]="dia.hora_fin" name="hora_fin_{{ i }}">
        <option value="">Hasta</option> 
        <option *ngFor="let hora of horariosPorDia[dia.dia]" [value]="hora">{{ hora }}</option>
      </select>
            
    </div>

    <p class="error-msg" *ngIf="mensajeError">{{ mensajeError }}</p>
    <button type="submit">Guardar Disponibilidad</button>
  </form>
</div>
