<div class="registro-container">
  <h2>Registro de Usuario</h2>

  <form (ngSubmit)="registrar()" #form="ngForm">
    <div class="form-row">
      <label>Nombre:</label>
      <input type="text" [(ngModel)]="usuario.nombre" name="nombre" required />
    </div>

    <div class="form-row">
      <label>Apellido:</label>
      <input type="text" [(ngModel)]="usuario.apellido" name="apellido" required />
    </div>

    <div class="form-row">
      <label>Edad:</label>
      <input type="number" [(ngModel)]="usuario.edad" name="edad" required min="1" max="120" />
    </div>

    <div class="form-row">
      <label>DNI:</label>
      <input type="text" [(ngModel)]="usuario.dni" name="dni" required />
    </div>

    <div class="form-row">
      <label>Tipo de usuario:</label>
      <select [(ngModel)]="usuario.categoria" name="categoria">
        <option value="paciente">Paciente</option>
        <option value="especialista">Especialista</option>
      </select>
    </div>    

    <div class="form-row">
      <label>Correo electrónico:</label>
      <input type="email" [(ngModel)]="usuario.email" name="email" required />
    </div>

    <div class="form-row">
      <label>Contraseña:</label>
      <input type="password" [(ngModel)]="password" name="password" required />
    </div>

    <div class="form-row">
      <label>Obra Social:</label>
      <input type="text" [(ngModel)]="usuario.obra_social" name="obraSocial" />
    </div>

    <div class="form-row" *ngIf="usuario.categoria === 'especialista'"> 
        <label>Especialidades:</label>
        <select [(ngModel)]="especialidadSeleccionada" name="especialidades" (change)="EspecialidadChange()">
            <option value="" disabled>Elija una especialidad</option>
            <option *ngFor="let esp of especialidadesDisponibles" [value]="esp.id">{{ esp.nombre }}</option>
            <option value="Otro">Otro</option>
        </select>

        <div class="form-row" *ngIf="especialidadSeleccionada === 'Otro'  && usuario.especialidades?.length === 0">
          <input
            type="text"
            placeholder="Agregar nueva especialidad"
            [(ngModel)]="nuevaEspecialidad"
            name="nuevaEspecialidad"
          />
        </div>
    </div>
    
    <div class="form-row" *ngIf="especialidadSeleccionada === 'Otro' && nuevaEspecialidad">
      <strong>Especialidad propuesta:</strong> {{ nuevaEspecialidad }}
    </div>


    <div class="form-row">
      <label>Imagen 1:</label>
      <input type="file" (change)="onFileSelected($event)" required />
    </div>

    <div class="form-row" *ngIf="usuario.categoria === 'paciente'">
      <label>Imagen 2:</label>
      <input type="file" (change)="onFileSelected2($event)" required />
    </div>

    <div class="form-error" *ngIf="errorMsg">{{ errorMsg }}</div>

    <button type="submit">Registrarse</button>
  </form>

  <div class="login-link-container">
    <span>¿Ya tienes cuenta? </span>
    <a routerLink="/login" class="login-link">Inicia sesión</a>
  </div>
</div>
