<div class="pacientes-container">
  <h2>Pacientes Atendidos</h2>

  <div class="paciente-item" *ngFor="let paciente of PacientesAtendidos">
    <div class="info">
      <div class="nombre">{{ paciente.nombre }} {{ paciente.apellido }}</div>
      <div class="dni">DNI: {{ paciente.dni }}</div>
      <div class="obra-social">Obra Social: {{ paciente.obra_social || 'Sin especificar' }}</div>
    </div>
    <button 
        [routerLink]="['/home/pacientes/historias-clinicas']"
        [queryParams]="{ pacienteId: paciente.id}"
    >
    Ver historia clinica</button>
  </div>


  <div *ngIf="PacientesAtendidos.length === 0" class="no-pacientes">
    <p>Aún no atendiste a ningún paciente.</p>
  </div>
</div>
