:host {
  display: block;
  min-height: 100vh;
  background-image: url('/assets/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
