<div class="login-container">
  <div class="quick-access">
    <button
      class="fav-button"
      *ngFor="let user of usuarios"
      (click)="completarEmail(user)"
      [title]="user.role + ': ' + user.email"
    >
      <img [src]="user.avatar" [alt]="user.role" />
    </button>
  </div>
  
  <h2>Iniciar Sesión</h2>

  <form (ngSubmit)="login()" #form="ngForm" autocomplete="off">

    <div class="form-row" style="position: relative;">
      <label>Email:</label>
      <input
        type="email"
        [(ngModel)]="mail"
        name="mail"
        required
        autocomplete="off" />
    </div>

    <div class="form-row">
      <label>Contraseña:</label>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        autocomplete="current-password" />
    </div>

    <div class="form-error" *ngIf="errorMsg">{{ errorMsg }}</div>

    <button type="submit">Iniciar Sesión</button>
  </form>

  <div class="login-link-container">
    <span>¿No tenés cuenta? </span>
    <a routerLink="/register" class="login-link">Registrate</a>
  </div>
</div>
